RewriteEngine On

# Redirect problemsolving to problem-solving
RewriteRule ^problemsolving$ /problem-solving [R=301,L]

# Redirect project to calendar
RewriteRule ^projects$ /calendar [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^.]+)$ $1.html [L]
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1? [NC,L,R=301]
