<!--footer-->
<div class="blue-back">
  <div class="footer flex-col center-flex">
    <div class="footer-content flex-row center-flex">
        <a href="index.html">
          <img class="shakin bottom-tpsa-logo" src="images/logo.png">
        </a>
        <p class="footer-tpsa-text">Theoretical Physics<br>
          Student Association
        </p>
        <a class="social-media-logos"  href="https://www.instagram.com/tpsa_ireland/" target="_blank" rel="noopener noreferrer">
          <img src="images/footer/instagram.png" width="20" height="20">
        </a>
        <a class="social-media-logos" href="https://www.youtube.com/channel/UCAhMHA7C3mo0MaASsM4Nweg" target="_blank" rel="noopener noreferrer">
          <img src="images/footer/yt.png" width="30" height="30">
        </a>
        <a class="social-media-logos"  href="https://ie.linkedin.com/company/theoretical-physics-student-association" target="_blank"
          rel="noopener noreferrer">
          <img src="images/footer/in.png" width="20" height="20">
        </a>
        <!-- 
          twitter hasn't been used in a while
        <a href="https://twitter.com/tpsa_ireland" target="_blank" rel="noopener noreferrer">
          <img src="https://raw.githubusercontent.com/ciaraquin/tpsa-website/main/tpsa-website/img/x.png" width="30" height="30">
        </a>
        -->
    </div>
    <div class="footer-content flex-row center-flex" >
        <p class="footer-text address">School of Mathematics,<br>
          17 Westland Row,<br>
          Trinity College Dublin<br><br>
          <a style="color: white;" href="mailto:student@tpsa.ie">student@tpsa.ie</a> 
        </p>
        <iframe class="map" frameborder="0" scrolling="no"
          src="https://maps.google.com/maps?width=720&amp;height=600&amp;hl=en&amp;q=School%20of%20Mathematics%2017%20Westland%20Row%20Trinity%20College%20Dublin%20Dublin%202%20Ireland+(School%20of%20Mathematics)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/collections/sports-gps/">Football GPS</a>
        </iframe>
    </div>
  </div>
  <div class="footer flex-col center-flex" style="margin-top: 0px;margin-bottom: 0px;">
      <div class="text-center">
          <a href="https://www.iop.org/" target="_blank" rel="noopener noreferrer">
              <img class="image-iop" src="images/iop.png" alt="Institute of Physics Logo">
          </a>
      </div>
  </div>
  <div class="footer flex-col center-flex" style="margin-top: 0px;">
      <div class="text-center flex-row center-flex">
          <p class="hosted-text">Hosted by:</p>
          <a href="https://www.blacknight.com/" target="_blank" rel="noopener noreferrer">
              <img class="image-bt" src="images/blacknight.png" alt="Blacknight">
          </a>
      </div>
    </div>
</div>
</html> 